
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer{
    background: #fff;
    padding-top: 138px;
    position: relative;   
    .wrapper{
        padding-right: 0;
    }
}


.footer-cols{
    margin: 0 -15px;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    @include align-items(center);
    &__col{
        width: 25%;
        padding: 0 15px;
    }
}

.f-menu{   
    margin-bottom: 65px;
    padding-top: 10px;
    &-item{ 
            margin-bottom: 30px;
        &__link{
            color: $color-blue;
            font-size: 20px;
            &:hover{
                opacity: 0.67;
            }
        }
    }
}
.footer-phone{
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    a{
        color:$color-blue;
        &:hover{
            opacity: 0.67;
        }
    }
}
.footer-email{
    font-size: 18px;
    line-height: 30px;
    a{
        color:$color-blue;
        &:hover{
            opacity: 0.67;
        }
    }
}



.footer-social{
        margin-top: 16px;
    .social-item__link{
        color: #fff;
        background: $color-blue;
        width: 38px;
        height: 38px;
        &:hover{
            color: #fff;
            background: $color-blue;
            opacity: 0.67;
        }
    }
}
.footer-address{
    color: $color-blue;
    padding-bottom: 20px;
    &__title{
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

    }
    &__value{
        font-size: 18px;
        line-height: 30px;
        a{
            color:$color-blue;
            &:hover{
                opacity: 0.67;
            }
        }
    }
}

.footer-bottom{
    border-top: 0.8px solid #C0D1EC;
    margin-top: 100px;
    padding: 15px 0;
    font-size: 14px;
    color:  rgba(1, 22, 52, 0.58);
    a{
        color:inherit;
        &:hover{
            color: $color-blue;
        }
    }
}
.toogarin{
        font-size: 16px;
    img{
        display: inline-block;
        margin-top: -9px;
        vertical-align: middle;
            margin-left: 10px;
    }
}

.f-contact-m{
display: none;
}


@media screen and (max-width: 1620px) {
    .footer{
        padding-top: 80px;
    }
    .footer-bottom{
        margin-top: 60px;
    }
    
}

@media screen and (max-width: 1280px) { 
    .footer-address__value{
        font-size: 17px;
    }
}



@media screen and (max-width: 1140px) {
    .footer-address__value{
        font-size: 14px;
    }
    .footer-address__title{
        font-size: 10px;
    }
    .footer-bottom{
        padding-bottom: 0;
        .footer-cols{
            flex-wrap: wrap;
            position: relative;
            &__col{
                width: 50%;
                padding-bottom:15px;
            }
        }
    }
    .f-menu-item__link{
        font-size: 18px;
    }
    .footer-phone{
        font-size: 22px;
    }
    .footer-email{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 991px) {
    .footer-cols{
        @include flex-wrap(wrap);
    }
    .footer-cols__col {
        width: 50%;
        padding: 0 15px;
    }
    .f-menu-item__link {
        font-size: 20px;
    }
    .footer {
        padding-top: 110px;
    }
    .footer-address__title {
        font-size: 12px;
    }
    .footer-address__value {
        font-size: 18px;
    }
    .f-contact{
        display: none;
    }
    .f-contact-m{
        display: block;
        padding: 115px 15px 0;
    }
    .footer-phone {
          font-size: 26px;
    }
    .footer-email {
        font-size: 18px;
    }
    .footer-social .social-item {
        margin-right: 20px;
    }
    .footer-bottom{
        padding-top: 35px;
        padding-bottom: 25px;
        .footer-cols__col:nth-child(n){
            display: block;
        }
        .footer-cols__col:nth-child(1){
            width: 100%;
            display: block;
        }
        .footer-cols__col:nth-child(3){
            display: none;
        }
        .footer-cols__col:nth-child(4){
            text-align: right;
            padding-right: 40px;
        }
        
    }
   
    
    
}

@media screen and (max-width: 740px) {
    .footer-cols__col:nth-child(1){
        display: none;
    }
    .footer-cols__col:nth-child(3){
        display: none;
    }
    .footer-cols__col:nth-child(4){
        display: none;
    }
    .footer {
        padding-top: 90px;
    }
    .footer-cols__col{
        width: 100%;
    }
    .f-contact-m{
        padding-top: 30px;
    }
    .toogarin{
        position: absolute;
        top: 0;
        left: 15px;
    }
    .footer-bottom .footer-cols{
        padding-top: 40px;
    }
    .footer-bottom .footer-cols__col:nth-child(n){
        width: 100%;
            padding-bottom: 10px;
    }
}

@media screen and (max-width: 639px) {
   
    
    
}

@media screen and (max-width: 479px) {
    
}

@media screen and (max-width: 374px) {
    
}
